<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <Properties>
        <Property name="logDir">/opt/logs/scala-in-action</Property>
    </Properties>

    <appenders>
        <Console name="consolePrint" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5p %c{1.} %m%n"/>
        </Console>

        <RollingRandomAccessFile name="thriftAppender"
                                 fileName="${log.path}/thrift.log"
                                 filePattern="${log.path}/history/thrift-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5p %c{1.} %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>
        <AsyncRoot level="INFO">
            <appender-ref ref="consolePrint"/>
        </AsyncRoot>

        <AsyncLogger level="INFO" name="Thrift_Logger" additivity="false">
            <appender-ref ref="thriftAppender"/>
        </AsyncLogger>
    </loggers>
</configuration>